<form id="client-form">
    <fieldset>
        <legend>Client Form</legend>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" id="lastname" required>
        <br>
        <label for="birthdate">Birthdate</label>
        <input type="date" name="birthdate" id="birthdate" required>
        <br>
        <label for="membership">Membership</label>
        <select name="membership" id="membership">
        </select>
        <br>
        <button type="submit">Save client</button>
    </fieldset>
</form>