<div id="navbar"></div>
<form id="clientForm">
    <fieldset>
        <legend>Search a client</legend>
        <input type="search" placeholder="Search" name="search" id="search" />
        <button type="submit">Sear</button>
    </fieldset>
</form>

<!--<div id="clients"></div>-->
<a href="#/add-client">New client</a>
<table>
    <thead>
        <tr>
            <th>Full name</th>
            <th>Birthdate</th>
            <th>Payment date</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Add payment</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody id="client-table">
    </tbody>
</table>    