<div class="container">
    <form id='loginForm' >
        <fieldset>
            <legend>Login</legend>
            <label for="email">Email</label>
            <input class="input-control" type="email" name="email" id="email">
            <br />
            <label for="password">Password</label>
            <input class="input-control" type="password" name="password" id="password">
            <span class="text-danger" id="login-error"></span> <br>
            <button class="btn btn-primary" type="submit" id="btnSubmit">Login</button>
        </fieldset>
    </form>
</div>