<div class="width-container">
    <div class="grid col-12">
        <div class="span-2">
            <div id="navbar"></div>
        </div>
        <div class="span-10">
            <table>
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Code</th>
                        <th>Payed at</th>
                        <th>Membership</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody id="body-data"></tbody>
            </table>
        </div>
    </div>
</div>